/*
Nom d'équipe: -Bilan Barre Faarax
	          -Kossi Laba
Description du programme: le code permet de créer le jeu sudoku
Nom du fichier: style.css fichier css
*/

html{
    box-sizing: border-box;
    
}

    *, *::before, *::after{
        box-sizing: initial;
}

/*
Code pour aligner tous les contenus
*/
body{
    margin: 0 auto;
    text-align: center;
 
}

/*
Pour styliser le titre
*/
.entete{
    display: flex;
    flex-direction: column;
    height: 4em;
    background-color: darkcyan;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/*
Code pour aligner tous les boutons et textes au centre
*/
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
Creation du tableau interieur
*/
.tabloInterieur {
    width: 50px;
    height: 50px;
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    text-align: center;
    border: 1px black solid;
    cursor: pointer;
}

/*
Creation du tableau exterieur
*/
.tabloExterieur {
    border: 2px black solid;
    text-align: center;
   
}

/*
Pour styliser le footer
*/
footer{
    display: flex;
    flex-direction: column;
    height: 4em;
    background-color: darkcyan;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


